<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="addNewStudent()">
      Add new student
    </button>
    <hr />
    <div class="alert alert-danger" *ngIf="error">
      <h1>An error occured!</h1>
      <p>{{ error }}</p>
    </div>
    <p *ngIf="isFetching && !error">Loading...</p>
    <p *ngIf="students.length === 0 && !isFetching">No student available!</p>
    <ul class="list-group" *ngIf="students.length !== 0 && !isFetching">
      <li class="list-group-item" *ngFor="let student of students">
        <div class="row">
          <div class="col-md-8">
            <h3>Basic details</h3>
            <p>Name: {{ student.username }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Gender: {{ student.gender }}</p>
            <p>{{ student.secret }}: {{ student.answer }}</p>
          </div>
          <div class="col-md-4">
            <h3>Hobbies</h3>
            <p *ngFor="let hobby of student.hobbies">{{ hobby }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
